<h2>Paieses</h2>


<hr>
<ul class="list-group">
    <!-- <li class="list-group-item cursor-pointer" 
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true}">
        Home Page
    </li>
    <li class="list-group-item cursor-pointer" 
    routerLink="aboute"
    routerLinkActive="active">
        Aboute Page
    </li>
    <li class="list-group-item cursor-pointer" 
    routerLink="contact"
    routerLinkActive="active">
        Contact Page
    </li> -->
    <li class="list-group-item cursor-pointer" 
    routerLink="countries/by-capital"
    routerLinkActive="active">
        Por capital
    </li>
    <li class="list-group-item cursor-pointer" 
    routerLink="countries/by-country"
    routerLinkActive="active">
        Por pais
    </li>
    <li class="list-group-item cursor-pointer" 
    routerLink="countries/by-region"
    routerLinkActive="active">
        Por region
    </li>
</ul>