<h2>Por Capital</h2>
<hr>

<div class="row">
    <div class="col">
        <shared-search-box
        (onDebounce)="searchByCapital( $event )"
         (onValue)="searchByCapital( $event )"
         [initialValue]="initialValue"
         placeholder="Buscar por capital"></shared-search-box>
    </div>
</div>


<div class="row">
    <div class="col">
        <!--tabla resultados-->
        <hr>
        <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
        <countries-table [countries]="countrie"></countries-table>
    </div>
</div>